.sidebar {
  position: fixed;
  top: 0;
  left: -22rem;
  width: 22rem;
  height: 100%;
  background-color: #343a40;
  transition: left 300ms ease-out;
  z-index: 2;
  color: black;
}
.sidebar.active {
  left: 0;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  color: white;
}
.sidebar li {
  list-style: none;
}
.sidebar li a {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  display: block;
  color: #fff;
}

.hamburger {
  border: none;
  outline: 0;
  width: 3rem;
  position: absolute;
  right: -3rem;
  background-color: #343a40;
  margin-top: 0.83rem;
  margin-left: 2rem;
}

.hamburger:after,
.hamburger:before,
.hamburger div {
  background-color: #ff8e43;
  height: 5px;
  margin: 7px 0;
  border-radius: 3px;
  content: "";
  display: block;
  transition: all 300ms ease-in-out;
}

.sidebar.active .hamburger:before {
  transform: translateY(12px) rotate(135deg);
}
.sidebar.active .hamburger::after {
  transform: translateY(-12px) rotate(-135deg);
}
.sidebar.active .hamburger div {
  transform: scale(0);
}

.acc-container {
  margin: 5rem auto;
  width: 90%;
}

.acc-heading {
  justify-self: center;
  font-size: medium;
}

.acc-button {
  width: 40%;
  margin: 5%;
}


@media screen and (max-width: 623px) {
  .hamburger {
    border: none;
    height: 1rem;
    outline: 0;
    width: 2rem;
    position: absolute;
    right: -2rem;
    background-color: #343a40;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }
}